@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb; /* Light background for the site */
}
